/* CSS declarations go here */
h1 {
    display: block;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #3b5998;
}

p {
    text-align: center;
}

section{
    padding: 15px;
    background-color: #ffffff;
    border: 4px solid #3b5998;
    border-radius: 20px;
    width: 300px;
    margin: auto;
    margin-top:150px;
}

body{
    background-image: url('footer_loylas.png')
    background-repeat: repeat;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
}
