/* CSS declarations go here */
h1 {
    display: block;
    font-size: 30px;
    font-family: helvetica;
    font-weight: bold;
    margin-left:10px;
    color: #3b5998;
}

fb:login-button {
    text-align: center;
}

section{
    border: 2px solid #3b5998;
    width: 300px;
    margin: auto;
    margin-top:150px;
}

body {
    background-color: #dfe3ee;
    font-family: Helvetica, sans-serif;
    font-size:13px;
}
