/* CSS declarations go here */
h1 {
    display: block;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #3b5998;
}

section{
    padding-top:5px;
    padding: 15px;
    background-color: #ffffff;
    border: 5.5px solid #3b5998;
    border-radius: 20px;
    width: 300px;
    margin: auto;
    margin-top:150px;
}

body{
/*    background-image: url("footer_lodyas.png");
    background-repeat: repeat; */
    background-color: #dfe3ee;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size:15px;
}